#root {
  text-align: center;
  background-color: rgb(155, 204, 250);
  min-width: 480px;
  background-size: cover;
}

body{
  margin: 0;
  height: 100%;
}
.header {
  position: sticky; top: 0;
  display: grid;
  grid-template-columns: minmax(100px,25%) 25% 25% 25%;
  grid-template-rows: 40px 50px;
  grid-template-areas: 
  "logos home account options"
    "logo-3 search search search";
  font-size: 10%;
  padding: 10px;
  text-align: center;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  /* overflow-x:auto; */
  font-size: 25px;
  white-space: nowrap;
  border-right: 3px solid rgb(47, 130, 207);
  border-bottom: 3px solid rgb(47, 130, 207);
  background-color: #ffffff;
  z-index: 1;
}

#logo{
  width: 7rem;
  height: 2rem;
  padding-left: 10px;
  padding-top: 3px;
  grid-area: logos;
}

#logo-2{
  width: 2.5rem;
  height: 2.5rem;
  padding-left: 125px;
  grid-area: logos;
}

#logo-3{
  color:rgb(47, 130, 207) ;
  font-size: 30px;
  height: 2.5rem;
  padding-left: 10px;
  padding-top: 10px;
  grid-area: logo-3;
  margin: 0;
  text-align: left;
}


#home{
  grid-area: home;
  padding-left: 25%;
}
#account{
  grid-area: account;
}
#options{
  grid-area: options;
  border-right: none
}
#search{
  grid-area: search;
  color:rgb(47, 130, 207) ;
  font-size: 30px;
  height: 2.5rem;
  padding-left: 100px;
  padding-top: 10px;
  margin: 0;
  text-align: center;
  border-right: none
}

.linkInHeader{
  color:rgb(47, 130, 207) ;
  border-right: 3px solid rgb(47, 130, 207);
  text-decoration: none;
}


aside{
  position: sticky; 
  top: 124px;
  background-color: #ffffff;
  margin-top: 10px;
  color:rgb(47, 130, 207) ;
  text-align: left;
  width: 7rem;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  border-right: 3px solid rgb(47, 130, 207);
  border-bottom: 3px solid rgb(47, 130, 207);
  border-top: 3px solid #abcff0;
  border-bottom-right-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  height: fit-content
}

.bodyMain{
  position: relative;
  background-color: #abcff0;
  /* background-repeat: repeat-y;
  background-attachment: fixed; */
  /* z-index: -0; */
}

ul{
  padding-left: 5px;
  ;
}

#homeMain{
  margin-top: -341px;
  margin-left: 140px;
  margin-right: 140px;
  background-color: #ffffff;
  border-radius: 10px;
  border-top: 3px solid #c7c7c7;
  border-right: 3px solid rgb(0, 0, 0);
  border-bottom: 3px solid rgb(0, 0, 0);
  border-left: 3px solid #c7c7c7;
  min-width: 328px
}

#homeMain2{
  margin-top: -28px;
  margin-left: 70px;
  margin-right: 70px;
  background-color: #ffffff;
  border-radius: 10px;
  border-top: 3px solid #c7c7c7;
  border-right: 3px solid rgb(0, 0, 0);
  border-bottom: 3px solid rgb(0, 0, 0);
  border-left: 3px solid #c7c7c7;
}



li{
  margin: 5px;
  border-radius: 10px;
  border-top: 3px solid #c7c7c7;
  border-right: 3px solid rgb(0, 0, 0);
  border-bottom: 3px solid rgb(0, 0, 0);
  border-left: 3px solid #c7c7c7;
  background-color: #ffffff;
color: black;
list-style: none;
display: grid;
text-align: left;
padding-left: 10px;
grid-template-columns: minmax(120px, 20%) 30% 40% auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: 
  "title title title pic "
  "topic author author pic "
  "votes comments created_at pic "
  ". . . pic";
    /* overflow-x:auto; */
    white-space: nowrap;
    height:auto;
    /* padding: 0px; */
    padding-bottom: 0px;
    /* white-space: pre; */
}

p{
  padding: 5px;
  margin: 1px;
  border-radius: 3px;
  /* padding-left: 2px; */
  padding:3px ;
  background-color: #c7c7c7;
}

#article{
  height: auto;
  padding-bottom: 1px
}

#title{
  grid-area: title;
  border-right: #abcff0;
}
#topic{
  grid-area: topic;
  white-space: nowrap;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
#author{ 
  grid-area: author;
  padding-left: 2px;
  min-width: 162px;
  white-space: nowrap;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

#article_img_url{
  height: auto;
  width: 140px;
  grid-area: pic;
  padding-bottom: 0px;
  padding-left: 20px;
  align-items: left;
  background-color: #ffffff;
}
#comment_count{
  grid-area: comments;
  padding-left: 2px;
  min-width: 162px;
  white-space: nowrap;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
#votes{
  grid-area: votes;
  white-space: nowrap;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

#created_at{
  grid-area: created_at;
  /* padding-left: 20px; */
  white-space: nowrap;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  min-width: 180px;
}

h3{
  padding-top: 0px;
  margin: 2px;
  padding-left: 2px;
  /* padding-right: px; */
  width: 300%;
  white-space: wrap;
font-size: 25px;
}

#article-img{
  /* height: 100%;
  width: 100%; */
  height: auto;
  width: 120%;
  border-radius: 20px;
  padding: 0%;
  text-align: right;
  float: right;
  border-top: 3px solid #c7c7c7;
  border-right: 3px solid rgb(0, 0, 0);
  border-bottom: 3px solid rgb(0, 0, 0);
  border-left: 3px solid #c7c7c7;
  width: 240px;
  margin-right: minmax(50px, 45%);
  /* margin-right: 40%; */
}


#aside-header{

  margin-top: 0px;
  margin-bottom: 3px;
}

#aside-topics{
  margin-bottom: 20px;
  margin-top: 25px;
}

#aside-hide{
  text-align: center;
  width: 106px;
  height: 30px;
  border-right: 1px solid rgb(47, 130, 207);
  border-bottom: 1px solid rgb(47, 130, 207);
  border-top: 1px solid #abcff0;
  border-bottom: 1px solid #abcff0;
  border-radius: 15%;
}

button:hover{background-color:rgb(47, 130, 207);}

button:active { 
  transform: scale(0.95); 
  box-shadow: 5px 5px 22px 5px rgba(0, 0, 0, 0.24); 
} 

/* button:focus{background-color:red;} */

#aside2{
top: 220px;
}

#aside-hide-false{
display: none
}


main{
  height: auto;
  margin-top: -47px
}

#nonMainPageMain{
  /* margin-top: -252px; */
  display: auto;
  margin-left: 140px;
  margin-right: 140px;
  background-color: #ffffff;
  border-radius: 10px;
  border-top: 3px solid #c7c7c7;
  border-right: 3px solid rgb(0, 0, 0);
  border-bottom: 3px solid rgb(0, 0, 0);
  border-left: 3px solid #c7c7c7;
  margin-top: -340px;
}

#loading{
  font-size: 80px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border-top: 3px solid #c7c7c7;
  border-right: 3px solid rgb(0, 0, 0);
  border-bottom: 3px solid rgb(0, 0, 0);
  border-left: 3px solid #c7c7c7;
  margin-left: 140px;
  padding-top: 300px; 
  margin-top: -200px;
  height: 100vh;
  z-index: 1;
  width: 80%;
}

#asideOut2{
  opacity: 0%;
  
}

#asideButton{
  z-index: 1;
  margin-left: 0px;
}
  
#asideButton2:hover{
  margin-left: 0px;
  z-index: 1;
}

#asideButton2{
  z-index: 1;
  margin-left: -100px
}


h1{
  font-size: auto;
  border-radius: 10px;
  border-top: 3px solid #c7c7c7;
  border-right: 3px solid rgb(0, 0, 0);
  border-bottom: 3px solid rgb(0, 0, 0);
  border-left: 3px solid #c7c7c7;
  margin: 3px;
  padding: 5px;
}

.page{
  height: 100%;
  display: grid;
  grid-template-columns: 35% 1% 32% 32% ;
  grid-template-rows: min-content auto auto auto auto max-content min-content max-content;
  grid-template-areas: 
  "title title title title"
  "pic . body body"
  "pic . body body"
  "pic . author topic"
  "pic . votes created_at "
  "comment_title comment_title comments_count comments_count "
  "comments comments comments comments";
}

#comment_section_art{
  grid-area: comment_title;
  border-top: 3px solid #c7c7c7;
  border-right: 3px solid rgb(0, 0, 0);
  border-bottom: 3px solid rgb(0, 0, 0);
  border-left: 3px solid #c7c7c7;
  border-radius: 10px;
  margin: 3px;
  background-color: #c7c7c7;
  font-size: 30px;
  text-align: left;
}

#comments_art{
  margin-top: 0px;
  grid-area: comments;
  border-radius: 10px;
  margin-right: 3px;
}

#body_com{ 
  grid-area: bodyC;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  padding-bottom: 20px;
}
#author_com{ 
  grid-area: authorC;
  padding-bottom: 45px;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
}
#votes_com{ 
  grid-area: votesC;
  padding-bottom: 45px;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
}
#created_at_com{ 
  grid-area: created_atC;
  padding-bottom: 45px;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
}

#comment_count_art{
  grid-area: comments_count;
  margin: 3px;
  background-color: #c7c7c7;
  font-size: 20px;
  border-radius: 10px;
  border-top: 3px solid #c7c7c7;
  border-right: 3px solid rgb(0, 0, 0);
  border-bottom: 3px solid rgb(0, 0, 0);
  border-left: 3px solid #c7c7c7;
  text-align: left;
  font-size: 30px;
}
#comment_list{
  height: fit-content;
  font-size: 20px;
  display: grid;
  grid-template-columns: 40% 30% 30%;
  grid-template-rows: 70% 30%;
  grid-template-areas:
  "bodyC bodyC bodyC"
  "authorC created_atC votesC";
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
  padding-bottom: 12px;
  white-space: wrap;
  width: auto;
  height: auto ;
  border-radius: 10px;
  
}

/* "comment_count comment_count" */

#article_title_art{
  grid-area: title;
  background-color: #c7c7c7;
}


#body_art{
  grid-area: body;
  border-top: 3px solid #c7c7c7;
  border-right: 3px solid rgb(0, 0, 0);
  border-bottom: 3px solid rgb(0, 0, 0);
  border-left: 3px solid #c7c7c7;
  margin: 3px;
  background-color: #c7c7c7;
  font-size: 20px;

}
#topic_art{
  grid-area: topic;
  border-top: 3px solid #c7c7c7;
  border-right: 3px solid rgb(0, 0, 0);
  border-bottom: 3px solid rgb(0, 0, 0);
  border-left: 3px solid #c7c7c7;
  margin: 3px;
  background-color: #c7c7c7;
  font-size: 20px;
}
#author_art{ 
  grid-area: author;
  border-top: 3px solid #c7c7c7;
  border-right: 3px solid rgb(0, 0, 0);
  border-bottom: 3px solid rgb(0, 0, 0);
  border-left: 3px solid #c7c7c7;
  margin: 3px;
  background-color: #c7c7c7;
  font-size: 20px;
}

#article_img_art{  
  grid-area: pic;
  object-fit: cover;
  width: max-content;
  height: max-content ;
  max-height: 100%;
  max-width: 100%;
  border-radius: 10px;
  border-top: 3px solid #c7c7c7;
  border-right: 3px solid rgb(0, 0, 0);
  border-bottom: 3px solid rgb(0, 0, 0);
  border-left: 3px solid #c7c7c7;
  margin: 3px;
}

#votes_art{
  grid-area: votes;
  border-top: 3px solid #c7c7c7;
  border-right: 3px solid rgb(0, 0, 0);
  border-bottom: 3px solid rgb(0, 0, 0);
  border-left: 3px solid #c7c7c7;
  margin: 3px;
  background-color: #c7c7c7;
  font-size: 20px;
}

#created_at_art{
  grid-area: created_at;
  border-top: 3px solid #c7c7c7;
  border-right: 3px solid rgb(0, 0, 0);
  border-bottom: 3px solid rgb(0, 0, 0);
  border-left: 3px solid #c7c7c7;
  margin: 3px;
  background-color: #c7c7c7;
  font-size: 20px;
}

@media screen and (max-width:760px) {  
  #article_img_url{
    margin-left: 80px;
  }
  
  #logo-2{
    display: none;
    }
    #search{
    text-align: left;
    margin-left: -200px;
    }
    #logo-3{
    display: none;
    }
  
  h3{
    width: 210%;
  }
  .page{
    display: grid;
    grid-template-columns: 32% 32% 32% 4%;
    grid-template-rows: min-content max-content auto auto max-content min-content auto auto min-content;
    grid-template-areas: 
    "title title title title"
    "pic pic pic ."
    "author author author author"
    "topic votes votes votes "
    "body body body body"
    "created_at created_at created_at created_at"
    "comments_count comments_count comments_count comments_count"
    "comment_title comment_title comment_title comment_title"
    "comments comments comments comments"
    
  }

  #author_com{ 
    font-size: 15px;
  }
  #votes_com{ 
    font-size: 15px;
  }
  #created_at_com{ 
    font-size: 15px;
  }
}

@media screen and (max-width:1300px) {  
  #mainPageList{
    grid-template-areas:
    "title title title pic "
    "topic author . pic"
    "votes comments . pic "
    "created_at . . pic"
    ;
    }

    #article_img_url{
    margin-left: -100px;
    }

    .page{
      height: 100%;
      display: grid;
      grid-template-columns: 35% 1% 32% 32% ;
      grid-template-rows: min-content auto auto auto auto max-content min-content max-content;
      grid-template-areas: 
      "title title title title"
      "pic . body body"
      "votes votes body body"
      "votes votes author topic"
      "votes votes created_at created_at "
      "comment_title comment_title comments_count comments_count "
      "comments comments comments comments";
    }

    
  }

@media screen and (max-width:950px) {  
  #mainPageList{
    grid-template-areas:
    "title title title . "
    "topic author . . "
    "votes comments . . "
    "created_at . . ."
    "pic . . . "
    ;
    }

#article_img_url{
  margin-left: 80px;
  padding-bottom: 10px;
}

#com_page_title{
  width: 354%;
}

.page{
  display: grid;
  grid-template-columns: 32% 32% 32% 4%;
  grid-template-rows: min-content max-content max-content auto auto min-content auto auto min-content;
  grid-template-areas: 
  "title title title title"
  "body body body body"
  "pic pic pic ."
  "author author topic topic"
  "votes votes votes votes"
  "created_at created_at created_at created_at"
  "comments_count comments_count comments_count comments_count"
  "comment_title comment_title comment_title comment_title"
  "comments comments comments comments"
}

}

#voteButton{
  text-align: center;
  /* width: 106px; */
  min-height: 30px;
  border-right: 1px solid rgb(47, 130, 207);
  border-bottom: 1px solid rgb(47, 130, 207);
  border-top: 1px solid #abcff0;
  border-bottom: 1px solid #abcff0;
  border-radius: 15%;
  margin: 5px;
  margin-left: 0px;
  height: 110px;
  width:180px
}

#voteButton:active{
  color:rgba(0, 0, 0, 0.24);
  background-image: url("./assets/200w.gif");
  height: 110px;
  width:180px;
  box-shadow: 5px 5px 22px 5px rgba(0, 0, 0, 0.24); 
}

#voteButton:disabled{
  background-color:  #adadad;
  background-image: none;
  box-shadow: none;
  transform: none;
  border: none
}

#voteButton2{
  text-align: center;
  /* width: 106px; */
  min-height: 30px;
  border-right: 1px solid rgb(47, 130, 207);
  border-bottom: 1px solid rgb(47, 130, 207);
  border-top: 1px solid #abcff0;
  border-bottom: 1px solid #abcff0;
  border-radius: 15%;
  margin: 5px;
  margin-left: 0px;
  height: 110px;
  width:180px ;
  background-color:  #adadad;
  background-image: none;
  box-shadow: none;
  transform: none;
  border: none
}

#voteButtonDown{
  text-align: center;
  /* width: 106px; */
  min-height: 30px;
  border-right: 1px solid rgb(47, 130, 207);
  border-bottom: 1px solid rgb(47, 130, 207);
  border-top: 1px solid #abcff0;
  border-bottom: 1px solid #abcff0;
  border-radius: 15%;
  margin: 5px;
  margin-left: 0px;
  height: 110px;
  width:180px
}

#voteButtonDown:active{
  color:rgba(0, 0, 0, 0.24);
  background-image: url("./assets/dark-souls.gif");
  height: 110px;
  width:180px ;
  box-shadow: 5px 5px 22px 5px rgba(0, 0, 0, 0.24); 
}

#voteButtonDown:disabled{
  background-color:  #adadad;
  background-image: none;
  box-shadow: none;
  transform: none;
  border: none
}

#voteButtonDown2{
  text-align: center;
  /* width: 106px; */
  min-height: 30px;
  border-right: 1px solid rgb(47, 130, 207);
  border-bottom: 1px solid rgb(47, 130, 207);
  border-top: 1px solid #abcff0;
  border-bottom: 1px solid #abcff0;
  border-radius: 15%;
  margin: 5px;
  margin-left: 0px;
  height: 110px;
  width:180px ;
  background-color:  #adadad;
  background-image: none;
  box-shadow: none;
  transform: none;
  border: none;

}