#root {
 /* height: 300vh; */
  text-align: center;
  background-color: rgb(155, 204, 250);
  min-width: 480px;
  /* overflow-y: auto; */
  /* overflow-x: default; */
}

body{
  margin: 0;
}

.header {
  position: sticky; top: 0;
  display: grid;
  grid-template-columns: minmax(100px,25%) 25% 25% 25%;
  grid-template-rows: 40px 50px;
  grid-template-areas: 
  "logos home account options"
    "logo-3 search search search";
  font-size: 10%;
  padding: 10px;
  text-align: center;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  /* overflow-x:auto; */
  font-size: 25px;
  white-space: nowrap;
  border-right: 3px solid rgb(47, 130, 207);
  border-bottom: 3px solid rgb(47, 130, 207);
  background-color: #ffffff;
}

#logo{
  width: 7rem;
  height: 2rem;
  padding-left: 10px;
  padding-top: 3px;
  grid-area: logos;
}

#logo-2{
  width: 2.5rem;
  height: 2.5rem;
  padding-left: 125px;
  grid-area: logos;
}

#logo-3{
  color:rgb(47, 130, 207) ;
  font-size: 30px;
  height: 2.5rem;
  padding-left: 10px;
  padding-top: 10px;
  grid-area: logo-3;
  margin: 0;
  text-align: left;
}


#home{
  grid-area: home;
  padding-left: 25%;
}
#account{
  grid-area: account;
}
#options{
  grid-area: options;
  border-right: none
}
#search{
  grid-area: search;
  color:rgb(47, 130, 207) ;
  font-size: 30px;
  height: 2.5rem;
  padding-left: 100px;
  padding-top: 10px;
  margin: 0;
  text-align: center;
  border-right: none
}

.linkInHeader{
  color:rgb(47, 130, 207) ;
  border-right: 3px solid rgb(47, 130, 207);
  text-decoration: none;
}

/* #aside{
  position: sticky; top: 20px;
  height: 500px
} */

aside{
  position: sticky; 
  top: 124px;
  /* overflow: auto; */
  background-color: #ffffff;
  margin-top: 10px;
  color:rgb(47, 130, 207) ;
  text-align: left;
  width: 8rem;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 3px solid rgb(47, 130, 207);
  border-bottom: 3px solid rgb(47, 130, 207);
  border-top: 3px solid #abcff0;
  border-bottom-right-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  height: 500px;
}

.bodyMain{
  /* display: grid; */
  /* grid-template-columns: 8rem auto;
  grid-template-rows: 40px 50px; */
  /* grid-template-areas:  */
  display: sticky;
  background-color: rgb(155, 204, 250);
    /* display: grid; */
  /* grid-template-columns: 8rem auto;
  grid-template-rows: 40px 50px; */
}

#homeMain{
  margin-top: -530px;
  margin-left: 155px;
  background-color: #ffffff;
  border-radius: 10px;
  border-top: 3px solid #c7c7c7;
  border-right: 3px solid rgb(0, 0, 0);
  border-bottom: 3px solid rgb(0, 0, 0);
  border-left: 3px solid #c7c7c7;
  height: fit-content;
  
}

ul{
  margin: 5px;
  border-radius: 10px;
  border-top: 3px solid #c7c7c7;
  border-right: 3px solid rgb(0, 0, 0);
  border-bottom: 3px solid rgb(0, 0, 0);
  border-left: 3px solid #c7c7c7;
color: black;
list-style: none;
display: grid;
text-align: left;
padding-left: 10px;
grid-template-columns: minmax(120px, 20%) 30% 40% max-content;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: 
  "title title title pic "
  "topic author . pic "
  "votes comments created_at pic "
  ". . . pic";
    /* overflow-x:auto; */
    white-space: nowrap;
    height:auto;
    /* padding: 0px; */
    padding-bottom: 0px;
    /* white-space: pre; */
}

li{
  padding: 5px;
  margin: 1px;
  border-radius: 3px;
  /* padding-left: 2px; */
  padding:3px ;
}

#article{
  height: auto;
  padding-bottom: 1px
}

/* #article_id{} */
#title{
  grid-area: title;
}
#topic{
  grid-area: topic;
  white-space: nowrap;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
#author{ 
  grid-area: author;
  padding-left: 2px;
  white-space: nowrap;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
/* #body{} */

#article_img_url{
  height: auto;
  width: 140px;
  /* max-width: 140px; */
  grid-area: pic;
  /* float: right; */
  /* white-space: nowrap; */
  padding-bottom: 0px;
  padding-left: 20px;
  float: right;
}
#comment_count{
  grid-area: comments;
  padding-left: 2px;
  white-space: nowrap;
  border-right: 1px solid black;
}
#votes{
  grid-area: votes;
  white-space: nowrap;
  border-right: 1px solid black;
  /* border-bottom: 1px solid black;
  border-left: 1px solid #c7c7c7;
  border-top: 1px solid #c7c7c7; */
  /* padding-right: 20px; */
}

#created_at{
  grid-area: created_at;
  /* padding-left: 20px; */
  white-space: nowrap;
  border-right: 1px solid black;
}

h3{
  padding-top: 0px;
  margin: 2px;
  padding-left: 2px;
  /* padding-right: px; */
  width: 300%;
  white-space: wrap;
}



@media screen and (max-width:1140px) {  
  #article_img_url{
  margin-right: 40%;
  }
  ul{
  grid-template-columns: minmax(120px, 20%) 32% 20% max-content;
  }
  #created_at{
    display: none;
  }
}

#article-img{
  /* height: 100%;
  width: 100%; */
  height: auto;
  width: 120%;
  border-radius: 20px;
  padding: 0%;
  text-align: right;
  float: right;
  border-top: 3px solid #c7c7c7;
  border-right: 3px solid rgb(0, 0, 0);
  border-bottom: 3px solid rgb(0, 0, 0);
  border-left: 3px solid #c7c7c7;
  width: 240px;
  margin-right: minmax(40px, 20%);
}


@media screen and (max-width:800px) {  
  #article_img_url{
    display: none;
  }
  #article{
    padding-bottom: 30px
  }
  #comment_count{
    border-right: none;
    padding-right: 134px;
  }
  #author{
    border-right: none;
    padding-right: 134px;
  }
  /* main{
    width: 420px;
  } */
}

@media screen and (max-width:690px) {  
  #comment_count{
    padding-right: 144px;
  }
  #author{
    padding-right: 144px;
  }
}

@media screen and (max-width:520px) {  
  #logo-2{
    display: none;
  }
  #search{
    display: none;
  }
  #created_at{
     display: none;
  }
  #comment_count{
    border-right: none;
    padding-right: 134px;
  }
  #author{
    border-right: none;
    padding-right: 100px;
    text-wrap:wrap;
    height: 60px;
    margin-bottom: 20px;
  }
  h3{
    width: 220%;
  }
  main{
    width: 280px;
  }
  #topic{
    padding-left: 0px;
    height: 60px;
  }
  /* #votes{
    margin-top: 20px;
 }
 #comment_count{
  margin-top: 20px;
  padding-left: 0px; 
 }*/
 ul{
 grid-template-areas: 
 "title title title . "
 "topic author . . "
 "votes comments created_at . "
 "pic pic . .";
 }
 #article_img_url{
  display:grid;
  margin-left: -20px;
  
}
}

#aside-header{
  margin-top: 0;
}